<h1>GPID-E by Schmuhmeister</h1>
<h4>Clients im Netzwerk:</h4>
<div class="flex-col a">
  
  <div class="list-group b" style="width: 70%">
    <a  class="list-group-item list-group-item-action flex-container header">
    
      <strong class="usage">Id</strong>
      <strong class="name">Beschreibung</strong>
      <strong class="name">IP-Adresse</strong>
      <strong class="usage">Verbrauch</strong>
    </a>
    
    <a *ngFor="let item of clients" class="list-group-item list-group-item-action flex-container">
      <span class="usage">{{item.id}}</span>
      <span class="name">{{item.sys_descr}}</span>
      <span class="name">{{item.deviceip}}</span>
      <span class="usage">{{item.consumption}} W</span>
    </a>
  </div>

  <div class="b" style="width: 70%; height: 300px;">
    

    <canvas baseChart class="chart"
[data]="pieChartData"
[type]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins">
      </canvas>
    </div>  
  </div>

