:host {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: left;

    .name {
        width: 20%;
    }

    .usage {
        width: 10%;
    }
}